.cobrand{
    background-image: url('/2023Hexschool_week4hw/assets/images/index-bg.png');
    background-size: cover;
    @include pad{
        background-image: url('/2023Hexschool_week4hw/assets/images/index-bg-md.png');
    }
    @include mobile{
        background-image: url('/2023Hexschool_week4hw/assets/images/index-bg-sm.png');
    }
}

.bg-white{
    background-color: white;
}