.form-control{
  border: 1px solid #000;
  border-radius: 0;
  padding: 8px 16px;
}

.form-check-input{
  border: 2px solid #000;
  border-radius: 0;
}

.form-check-label{
  font-family: "Noto Sans TC", "regular";
}