<div class="container py-3">
    <h2 class="text-primary-dark text-center py-3">經典系列鏡框</h2>
    <div class="row pb-3">
        <div class="col-12 col-md-12 col-lg-4 pl-3">
            <img class="img-fluid mx-auto d-block" src="../assets/images/home-section3-1.png" alt="home-section2-1">
              <h2 class="text-primary text-center fst-italic">OPTICAL<h2>
        </div>
        <div class="col-12 col-md-12 col-lg-4 pl-3">
            <img class="img-fluid mx-auto d-block" src="../assets/images/home-section3-2.png" alt="home-section2-1">
              <h2 class="text-primary text-center fst-italic">SUNGLASSES<h2>
        </div>
        <div class="col-12 col-md-12 col-lg-4 pl-3">
            <img class="img-fluid mx-auto d-block" src="../assets/images/home-section3-3.png" alt="home-section2-1">
              <h2 class="text-primary text-center fst-italic">FUNCTIONAL<h2>
        </div>
    </div>
</div>