<div class="container py-3">
    <h2 class="text-primary-dark text-center py-3">聯絡我們</h2>
    <form class="row d-flex justify-content-center pb-3 g-3">
        <div class="col-12 col-md-6 col-lg-8 mb-3">
            <h5>我們相當重視您的意見，若您有任何疑問，可先參考「常見問題」，若仍有任何問題，請填妥以下資料，我們會在近期與您聯繫。</h5>
        </div>
        <div class="col-12 col-md-6 col-lg-8 mb-3">
            <label for="name" class="form-label">姓名</label>
            <input type="text" class="form-control" id="name" placeholder="陳小明">
        </div>
        <div class="col-12 col-md-6 col-lg-8 mb-3">
            <label for="phone" class="form-label">聯絡電話</label>
            <input type="text" class="form-control" id="phone" placeholder="0912-345-678">
        </div>
        <div class="col-12 col-md-6 col-lg-8 mb-3">
            <label for="email" class="form-label">聯絡電話</label>
            <input type="text" class="form-control" id="email" placeholder="example@email.com">
        </div>
        <div class="col-12 col-md-6 col-lg-8 mb-3">
            <label for="comments" class="form-label">意見反應</label>
            <textarea class="form-control" placeholder="請輸入您的意見" id="comments" style="height: 100px"></textarea>
        </div>
        <div class="col-12 col-md-6 col-lg-8 mb-3 form-check">
            <input class="form-check-input" type="checkbox" value="" id="CheckDefault">
            <label class="form-check-label" for="CheckDefault">
                我同意隱私權政策，並同意依隱私權政策中所述的方式處理自己的資料。
            </label>
        </div>
        <div class="col-12 col-md-6 col-lg-8 mb-3 d-flex justify-content-center">
            <button type="submit" class="btn btn-primary px-5">確認送出</button>
        </div>
          
    </form>
</div>