<div class="banner">
    <div class="container">
        <div class="row flex-row-reverse ">
            <div class="col-12 col-lg-6">
                <h1 class="text-right text-primary-dark mt-20">
                    <span
                    class="text-4xl text-md-xl text-sm-base">Promise-Desert
                    2020 早春系列</span> 看得清，才能看得遠</h1>
                    <div class="d-flex justify-content-end">
                        <button class="btn btn-primary">立即購買</button>
                    </div>
                    
            </div>
            
        </div>
    </div>
</div>

