<div class="intro">
    <div class="container py-3">
        <h2 class="text-primary-dark text-center py-3">用專業的心，做專業的事</h2>
        <div class="row d-flex justify-content-center pb-3">
            <div class="col-12 col-md-6 col-lg-3 pl-3">
              <img class="img-fluid mx-auto d-block" src="../assets/images/home-section2-1.png" alt="home-section2-1">
                <h3 class="text-primary-dark text-center">單一價格<h3>
                <p class="text-base">無論任何度數皆不需追加費用即可擁有適合自己的薄型球面鏡片。</p>
            </div>
            <div class="col-12 col-md-6 col-lg-3">
              <img class="img-fluid mx-auto d-block"  src="../assets/images/home-section2-2.png" alt="home-section2-2">
                <h3 class="text-primary-dark text-center">20 分鐘即可取件<h3>
                <p class="text-base">為了您的寶貴時間著想，以豐富專業知識與技術將結帳到交件的時間縮減至最快20 分鐘即可完成。</p>
            </div>
            <div class="col-12 col-md-6 col-lg-3">
              <img class="img-fluid mx-auto d-block"  src="../assets/images/home-section2-3.png" alt="home-section2-3">
                <h3 class="text-primary-dark text-center">安心售後服務<h3>
                <p class="text-base">我們提供長達120 天的保固售後服務，不限會員資格皆享有免費深層保養及專業維修服務。</p>
            </div>
            <div class="col-12 col-md-6 col-lg-3 pr-3">
              <img class="img-fluid mx-auto d-block"  src="../assets/images/home-sectioin2-4.png" alt="home-section2-4">
                <h3 class="text-primary-dark text-center">關於鏡片<h3>
                <p class="text-base">使用世界知名頂級品牌，抗UV、防汙鍍膜薄型非球面鏡片。</p>
            </div>
        </div>
    </div>
</div>