<div class="container py-3">
    <h2 class="text-primary-dark text-center py-3">顧客推薦</h2>
    <div class="row d-flex justify-content-center pb-3">
        <div class="col-12 col-md-6 col-lg-3 pl-3">
            <div class="card shadow mb-5 bg-body rounded">
                <img src="../assets/images/home-section5-1.png" class="card-img-top" alt="home-section5-1">
                <div class="card-body">
                    <h6 class="card-title">Jessy</h6>
                    <p class="card-text">眼鏡品質優良，下次還會想來這邊購買！</p>
                    <span class="align-text-bottom text-muted text-sm">2021/06/20</span>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-6 col-lg-3 pl-3">
            <div class="card shadow mb-5 bg-body rounded">
                <img src="../assets/images/home-section5-2.png" class="card-img-top" alt="home-section5-1">
                <div class="card-body">
                    <h6 class="card-title">凱倫</h6>
                    <p class="card-text">做工細緻、鏡架很輕盈，待久也不會覺得有負擔，推薦給大家！</p>
                    <span class="align-text-bottom text-muted text-sm">2021/04/18</span>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-6 col-lg-3 pl-3">
            <div class="card shadow mb-5 bg-body rounded">
                <img src="../assets/images/home-section5-3.png" class="card-img-top" alt="home-section5-1">
                <div class="card-body">
                    <h6 class="card-title">悠悠</h6>
                    <p class="card-text">謝謝客服人員的詳細回答，成功買到了喜歡的眼鏡，下次會再回購！</p>
                    <span class="align-text-bottom text-muted text-sm">2020/12/25</span>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-6 col-lg-3 pl-3">
            <div class="card shadow mb-5 bg-body rounded">
                <img src="../assets/images/home-section5-4.png" class="card-img-top" alt="home-section5-1">
                <div class="card-body">
                    <h6 class="card-title">Kyuan</h6>
                    <p class="card-text">服務很好，品質沒有任何問題，非常喜歡。</p>
                    <span class="align-text-bottom text-muted text-sm">2020/10/31</span>
                </div>
            </div>
        </div>
    </div>
</div>